.container {
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
}

.card {
  margin: 40px;
  display: inline-block;
}

.title {
  margin: 0;
}

.shortDesc {
  font-size: 1rem;
}
