.logo {
  display: flex;
  height: 60px;
  padding: 10px;
  padding-left: 28px;
  align-items: center;
}

@media (max-width: 767px) {
  .mobileFix {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  .logo {
    width: inherit;
    /* display: none; */
  }
}

.logo > svg {
  max-height: 25px;
}

.logo > h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

@media (max-width: 400px) {
  .logo > h1 {
    display: none;
  }
}
