.logo {
  display: flex;
  height: 60px;
  padding: 10px;
  padding-left: 28px;
  align-items: center;
}
.logo > svg {
  max-height: 25px;
}

.logo > h1 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
